/* day */
#sky {
  background-color: rgb(136, 190, 245);
  height: 33.33%;
}
#land {
  background-color: rgb(10, 79, 4);
  height: 66.66%;
}

@keyframes mountainsToRight {
  from {
    background-position: 0 bottom;
  }
  to {
    background-position: 100% bottom;
  }
}
#sky::after,
#sky::after {
  width: 200%;
  height: 100%;
  background-image: url(../image/mountains-day.png);
  background-position: 0px bottom;
  background-repeat: repeat-x;
  position: absolute;
  bottom: 0;
  content: "";
}
body:not(.paused) .curving-right #sky::after,
body:not(.paused) .curving-left #sky::after {
  animation: mountainsToRight 10s linear infinite reverse;
}
body:not(.paused) .curving-left #sky::after {
  animation: mountainsToRight 10s linear infinite;
}

/* summer */
.summer.sunrise #sky,
.summer.sunset #sky {
  background-color: rgb(32, 22, 134);
}
.summer #sky {
  background-color: rgb(136, 190, 245);
}
.summer.sunrise #land,
.summer.sunset #land {
  background-color: rgb(6, 49, 3);
}
.summer #land {
  background-color: rgb(10, 79, 4);
}
.summer.desert.sunrise #land,
.summer.desert.sunset #land {
  background-color: rgb(98, 75, 16);
}
.summer.desert #land {
  background-color: #73551c;
}
.summer.desert.night #land {
  background-color: rgb(30, 24, 8);
}

/* autumn */
.autumn.sunrise #sky,
.autumn.sunset #sky {
  background-color: rgb(41, 34, 119);
}
.autumn #sky {
  background-color: rgb(136, 190, 245);
}
.autumn.sunrise #land,
.autumn.sunset #land {
  background-color: rgb(6, 49, 3);
}
.autumn #land {
  background-color: rgb(52, 79, 4);
}
/* winter */
.winter.sunrise #sky,
.winter.sunset #sky {
  background-color: rgb(13, 9, 58);
}
.winter #sky {
  background-color: rgb(49, 35, 203);
}
.winter.sunrise #land,
.winter.sunset #land {
  background-color: rgb(148, 149, 153);
}
.winter #land {
  background-color: rgb(227, 227, 227);
}
/* spring */
.spring.sunrise #sky,
.spring.sunset #sky {
  background-color: rgb(32, 22, 134);
}
.spring #sky {
  background-color: rgb(136, 190, 245);
}
.spring.sunrise #land,
.spring.sunset #land {
  background-color: rgb(6, 49, 3);
}
.spring #land {
  background-color: rgb(52, 79, 4);
}
/* night */
.night #sky {
  background-color: rgb(19, 19, 19);
}
.night #land {
  background-color: rgb(8, 8, 8);
}
.night.fog #land {
  background-color: rgb(61, 61, 61);
}

.summer.day #sky::after {
  background-image: url(../image/mountains-summer-day.png);
}
.summer.sunset #sky::after {
  background-image: url(../image/mountains-summer-sunset.png);
}
.summer.night #sky::after {
  background-image: url(../image/mountains-night.png);
}
.summer.sunrise #sky::after {
  background-image: url(../image/mountains-summer-sunrise.png);
}
.autumn.day #sky::after {
  background-image: url(../image/mountains-summer-day.png);
}
.autumn.day.white-mountains #sky::after {
  background-image: url(../image/mountains-winter-day.png);
}
.winter.day #sky::after {
  background-image: url(../image/mountains-winter-day.png);
}
.winter.sunset #sky::after {
  background-image: url(../image/mountains-winter-sunset.png);
}
.winter.night #sky::after {
  background-image: url(../image/mountains-night.png);
}
.winter.night.fog #sky::after {
  background-image: none;
}
.winter.sunrise #sky::after {
  background-image: url(../image/mountains-winter-sunrise.png);
}
.winter.day #sky::after {
  background-image: url(../image/mountains-winter-day.png);
}
.spring.day #sky::after {
  background-image: url(../image/mountains-summer-day.png);
}
.spring.sunset #sky::after {
  background-image: url(../image/mountains-summer-sunset.png);
}
.spring.night #sky::after {
  background-image: url(../image/mountains-night.png);
}
.spring.sunrise #sky::after {
  background-image: url(../image/mountains-summer-sunrise.png);
}
.summer.day.desert #sky::after {
  background-image: url(../image/mountains-desert.png);
}
.summer.desert.sunset #sky::after {
  background-image: url(../image/mountains-desert-sunset.png);
}
.summer.desert.night #sky::after {
  background-image: url(../image/mountains-night.png);
}
.summer.desert.sunrise #sky::after {
  background-image: url(../image/mountains-desert-sunrise.png);
}
.summer.day.desert #sky::after {
  background-image: url(../image/mountains-desert.png);
}

.fog #game::after {
  display: block;
  position: absolute;
  top: 33%;
  height: 30%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(19, 19, 19) 70%,
    rgba(108, 108, 108, 0.365) 90%,
    rgba(108, 108, 108, 0) 100%
  );
  content: "";
}